body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.page-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-image: url('./music-melody-abstract_1575661251.jpg');
}

.area-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  box-shadow: 0 0.5em 2em rgb(224, 205, 205);
  padding: 20px 20px 20px 20px;
  border-radius: 3%;
}

.area-login input {
  border-radius: 8px;
  height: 45px;
  width: 300px;
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 600;
  margin: 2rem 0 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.area-login button {
  height: 45px;
  width: 100px;
  border-radius: 10px;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container-loading h2 {
  font-size: 30px;
  color: #ffffff;
}

.page-search, .page-album, .page-profile, .page-favorites, .page-not-found, .page-profile-edit  {
  display: flex;
  align-items: center;
  flex-direction: column; 
  background-image: linear-gradient(90deg, #06A77D, #0B5351, #1A2B38, #231937, #2C0735);
  min-height: 100vh;
}

.container-search {
  margin: 2rem 0 1.5rem;
  display: flex;
  flex-direction: row;
}

.container-search input{
  border-radius: 6px;
  align-self: center;
  height: 30px;
  width: 300px;
  margin-right: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container-search button {
  align-self: center;
  height: 30px;
  width: 100px;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container-albums {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.album-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 210px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px 5px;
  background-color: rgb(51, 51, 68);
}

.album-item img {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

a:-webkit-any-link {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #06A77D;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #041b17a2;
}

.header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  font-size: 28px;
  box-shadow: 0 0.5em 1em black;
  background-color: #025747;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
}

.header nav a {
  font-weight: 500;
  text-align: center;
  border: 1px groove #047053;
  border-radius: 2em 0;
  padding: 10px;
  align-self: center;
  width: 33.3%;
  color: #09cc9f;
  transition: 0.5s;
}

.header nav a:hover {
  width: 40%;
  transition: 0.5s;
}

.header h2 {
  color:#ffffff;
  font-size: 30px;
}

.page-album section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  width: 80%;
}

.music-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.musicTrack {
  align-items: center;
  margin-left: 60px;
}

audio {
  width: 240px;
}